#!/bin/bash

echo "UseDNS no" >> /etc/ssh/sshd_config

sudo usermod -aG sudo __USERNAME__

# append to add eth1
cat << EOF >>/etc/network/interfaces

# The host-only network interface
auto eth1
iface eth1 inet static
address __IP_ADDRESS__
netmask 255.255.255.0
network __NETWORK__
broadcast __BROADCAST__
EOF
